*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body{
    background-color: hsl(0, 0%, 95%);
    color: #fff;
}

h1{
    text-transform: uppercase;
    line-height: 4;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Big Shoulders Display', cursive;
}

main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 70%;
    border-radius: 0.5rem;
    min-height: 50%;
    overflow: hidden;


}

.card-left{
    background-color: hsl(31, 77%, 52%);



}

.card-mid{
    background-color: hsl(184, 100%, 22%);


}

.card-right{
    background-color: hsl(179, 100%, 13%);


}

img{
    width: 64px;
    height: 40px;
}

p{
    line-height: 2;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;

}

.btn{
    margin-top: 2rem;
}
.btn-click{
    color: hsl(179, 100%, 13%);
    background-color: #fff;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 25px;
    border: 2px solid #fff;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.btn-click:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.card{
    width: 100%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px){
    .cards{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90%;
    }

    .card{
        width: 100%;
        padding: 40px;
    }
}